@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: "Relawey";
  src: url(fuentes/Raleway-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Relawey-Bold";
  src: url(fuentes/Raleway-Bold.ttf) format("truetype");
}

body {
  font-family: "Relawey";
}

.pointer {
  cursor: pointer;
}

.menu-cel {
  cursor: pointer;
}

.icon-lg {
  font-size: 15px;
}

.menu {
  width: 100%;
  border-radius: 0px;
  height: 100%;
  background: radial-gradient(circle, rgba(240, 243, 240, 0.5) 100%);
  border: none;
}

.menu-cel-option {
  font-family: "Relawey-Bold";
  font-size: 13px;
  color: rgb(71, 67, 67);
  text-decoration: none;
  padding: 10px;
}

.barra-header {
  background: rgb(218, 218, 226);
  background: radial-gradient(circle, rgba(188, 188, 196, 0.6) 0%, rgba(188, 188, 196, 1) 100%);
}

.barra-menu {
  background: rgb(218, 218, 226);
  background: radial-gradient(circle, rgba(12, 100, 31, 0.591) 0%, rgba(12, 100, 31, 1) 100%);
  color: #FFF;
}

.header-modal {
  background: rgba(12, 100, 31);
  color: #FFF;
}

.barra-footer {
  background: rgba(12, 100, 31);
  color: #FFF;
  padding: 30px;
}

.btn-dons {
  background-color: rgba(12, 100, 31);
  padding: 7px;
  color: #FFF;
  border: solid 1px rgba(12, 100, 31);
  border-radius: 3px;
}

.btn-dons:hover {
  background-color: rgb(24, 63, 32);
  cursor: pointer;
  transition: background-color 0.8s ease 0s;
}

.galeria {
  background-color: #f7f6f6;
  padding: 40px 20px 40px 20px;
}

@media only screen and (min-width: 1300px) {

  /*escritorio*/

  /* Header */
  .test {
    background-color: blue;
    min-height: 10px;
  }

  .logo-header {
    width: 14%;
  }

  .opciones-menu {
    width: 40%;
    display: block;
  }

  .opcion-menu {
    padding: 5px;
    font-size: 14px;
  }

  .opciones-menu-cel {
    display: none;
  }

  .img-header {
    background-image: url(../images/principal.webp);
    background-repeat: round;
    resize: both;
    min-height: 500px;
  }

  .mt-slogan {
    margin-top: 4%;
  }

  .txt-slogan {
    font-family: "Relawey-Bold";
    font-size: 35px;
    text-shadow: 1px 1px 2px black;
    color: #FFF;
    width: 45%;
  }

  .btn-slogan {
    margin-top:
      20px;
  }

  /* Intro Seccción */

  .separaciones {
    margin-top: 40px;
  }

  .tit_Intro {
    font-family: "Relawey-Bold";
    font-size: 35px;
    color: #201e1e;
  }

  .det_Intro {
    font-size: 19px;
    margin-top: 20px;
  }

  .tip_Eventos {
    width: 90%;
    margin-top: 30px;
  }

  .nosotros {
    background-color: #f7f6f6;
    padding: 40px 20px 40px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .txt_Servicios {
    font-size: 18px;
    font-family: "Relawey-Bold";
  }

}

@media only screen and (max-width: 1299px) {

  /*tablets o escritorio pequeños*/
  /* Header */
  .test {
    background-color: red;
    min-height: 10px;
  }

  .logo-header {
    width: 13%;
  }

  .opciones-menu {
    width: 60%;
    display: block;
  }

  .opcion-menu {
    padding: 5px;
    font-size: 14px;
  }

  .opciones-menu-cel {
    display: none;
  }

  .img-header {
    background-image: url(../images/principal.webp);
    background-repeat: round;
    resize: both;
    min-height: 350px;
  }

  .mt-slogan {
    margin-top: 3%;
  }

  .txt-slogan {
    font-family: "Relawey-Bold";
    font-size: 30px;
    text-shadow: 1px 1px 2px black;
    color: #FFF;
    width: 55%;
  }

  .btn-slogan {
    margin-top:
      20px;
  }

  /* Intro Seccción */

  .separaciones {
    margin-top: 40px;
  }

  .tit_Intro {
    font-family: "Relawey-Bold";
    font-size: 35px;
    color: #201e1e;
  }

  .det_Intro {
    font-size: 19px;
    margin-top: 20px;
  }

  .tip_Eventos {
    width: 90%;
    margin-top: 30px;
  }

  .nosotros {
    background-color: #f7f6f6;
    padding: 40px 20px 40px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .txt_Servicios {
    font-size: 18px;
    font-family: "Relawey-Bold";
  }
}

@media only screen and (max-width: 768px) {

  /*celulares*/
  /* Header */
  .test {
    background-color: yellow;
    min-height: 10px;
  }

  .logo-header {
    width: 30%;
  }

  .opciones-menu {
    width: 100%;
    display: none;
  }

  .opcion-menu {
    padding: 5px;
    font-size: 12px;
  }

  .opciones-menu-cel {
    display: block;
  }

  .img-header {
    background-image: url(../images/principal.webp);
    background-repeat: round;
    resize: both;
    min-height: 270px;
  }

  .mt-slogan {
    margin-top: 2%;
  }

  .txt-slogan {
    font-family: "Relawey-Bold";
    font-size: 25px;
    text-shadow: 1px 1px 2px black;
    color: #FFF;
    width: 90%;
  }

  .btn-slogan {
    margin-top:
      20px;
  }

  /* Intro Seccción */

  .separaciones {
    margin-top: 40px;
  }

  .tit_Intro {
    font-family: "Relawey-Bold";
    font-size: 35px;
    color: #201e1e;
  }

  .det_Intro {
    font-size: 19px;
    margin-top: 20px;
  }

  .tip_Eventos {
    width: 90%;
    margin-top: 30px;
  }

  .nosotros {
    background-color: #f7f6f6;
    padding: 40px 20px 40px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .txt_Servicios {
    font-size: 18px;
    font-family: "Relawey-Bold";
  }
}

.opcion-menu:hover {
  background-color: rgba(13, 61, 23, 0.591);
  cursor: pointer;
}

.justify {
  text-align: justify;
}